.column,.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:100%;
}
.pagebtn{
    text-decoration: none;
    border:1px solid black;
    padding: 1% 2%;
    margin:5% 0.5%;
    width:300px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.pagebtn:hover{
    color:white;
    background-color: rgb(25, 161, 224);
}
a{
    color:black;
    text-decoration: none;
}